.background {
    position: fixed;
    inset: 0;
    background-color: #1414149f;
    z-index: 10;
}
.container {
    position: fixed;
    inset: 0;
    max-width: 80%;
    background-color: #212121;
    z-index: 15;
    box-shadow: 1px 0 10px 0px #000;
}
.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #141414;
    padding: 15px 20px 15px 10px;
}
.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.avatar {
    height: 50px;
    width: 50px;
    overflow: hidden;
    border-radius: 100%;
}
.back svg{
    fill: #f6f6f6;
    transform: rotate(180deg);
}
.name {
    margin-bottom: 5px;    
}
.mail {
    color: #f6f6f6c4;
    font-size: 14px;
}
.main {
    padding: 10px;;
}
.item {
    cursor: pointer;
    margin-bottom: 5px;
}