.modal {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.modalContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    max-width: 400px;
    min-width: 250px;
    margin-bottom: 30px;
}
.form {
    display: flex;
    width: 100%;
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: 15px;
}
.form input {
    width: 100%;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    height: 40px;
    padding: 10px 20px;
    outline: none;
}
.form button {
    background-color: #fff;
    color: #1e90ff;
    font-size: 15px;
    margin-top: 15px;
    height: 40px;
    border-radius: 10px;
}
.close {
    background-color: #fff;
    font-size: 15px;
    height: 40px;
    color: red;
    border-radius: 10px;
    width: 100%;
    transition: 0.3s;
}
.close:hover {
    opacity: 0.8;
}

.inputAvatar {
    display: none;
}

.labelAvatar {
    width: 100%;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    height: 40px;
    padding: 10px 20px;
    outline: none;
    color: #1e90ff;
    text-align: center;
    cursor: pointer;
}

.labelAvatar:hover {
    opacity: 0.8;
}
