.messageContainer {
    display: flex;
    align-items: center;
    background-color: #181818;
    height: 75px;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 20px;
    cursor: pointer;
}
.messageContainer:hover {
    background-color: #0f0f0f;
}
.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
}
.avatar p {
    height: 45px;
    width: 45px;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 10px;
    background-color: rosybrown;
}
.info {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.top {
    display: flex;
    justify-content: space-between;
}
.date {
    font-size: 12px;
}
.userName {
    font-weight: 500;
}