.alert {
  background-color: #1e90ff;
  margin: 0 auto;
  display: flex;
  align-items: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.wrapper {
  position: absolute;
  width: 45%;
  bottom: 30px;
  right: 0;
  overflow: hidden;
}

.container {
  padding: 20px;
}
