.backButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}
.backButton svg {
  fill: #f6f6f6;
  height: 25px;
}
.container {
  display: flex;
}
.input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: #f6f6f6;
}
