.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #181818;
    padding: 20px;
    height: 60px;
    z-index: 5;
}
.main {
    margin-top: 60px;
    padding: 15px 20px;
}
