body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #252525; 
  color: #f6f6f6;
  max-width: 400px;
  margin: 0 auto;
}
* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
}
img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
a {
  color: white;
  text-decoration: none;
}
.header-background {
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;
  right: 0;
  left: 0;
  background-color: #151515;
}

::-webkit-scrollbar {
  width: 5px;
  
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #ffffff;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

.not-dialogs {
  display: flex;
  justify-content: center;
  text-align: center;
}
.to-search {
  background-color: #1e90ff;
  max-width: 220px;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 20px;
  transition: .2s;
  cursor: pointer;
}

.to-search a {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.to-search:hover {
  opacity: .9;
  transition: .2s;
}